In [1]:
# 1.1 Operadores aritmeticos
print(5+2)
print(2.3-1)
print(2.4*5)
print(4.6/2)

7
1.2999999999999998
12.0
2.3

In [3]:
#1.2 operadores algebraicos
var=2.5; var1=3.4
print(2+4.3 +(var+var1)/2)

9.25

In [5]:
# 1.3 Operadores Logicos
print(1==2)
print(1+1==2)

False
True

In [1]:
1 + 3 == 8  - 4    #False --- True

True

In [9]:
# 1.4 Operadores relacionales
print(2==2)
print(2!=2)
print(4<3)
print(4<=4)
print(4>1)
print(4>=1)

True
False
False
True
True
True

In [12]:
# Y con strings?
print('David'=='David')
a='Hola'
a[0]!='H'

True

False

In [14]:
# Y con booleanos
print(True> False)
print(True, False)
print(True*3)
print(False+5)

True
True False
3
5

In [15]:
# Desafio operadores relacionales
expresiones=[False==True,10>=2*4,33/3==11,True>False,True*5==2.5*2]
print(expresiones)

[False, True, True, True, True]

In [19]:
# 1.5 Operadores logicos
print(not True)
print(not True== False)
print(2>1 and 5>2)
print(5>20 or 20<1)

False
True
True
False

In [21]:
# Desafio operadores logicos
expresiones=[
    not False, # True
    not 3== 5, # True
    33/3 ==11 and 5>2, # True
    True or False, # True
    True*5==2.5*2 or 123>=23, # True
    12>7 and True< False # False
]
expresiones

[True, True, True, True, True, False]

In [9]:
# 1.6 Operaciones anidadas
''' 
1. Parentesis
2. Operaciones aritmeticas
3. Expresiones relacionales de izquierda a derecha
4. Operadores logicos (not tiene prioridad)
'''
a=15; b=12;
a**b /3**a/a *b >=15 and not (a%b**2) !=0 # True and True= True
# Aqui lo pueden ver mejor
print(a**b)
print(a**b/3)
print(a**b/3**a/a)
print(a**b /3**a/a *b)
print('---------')
print(a%b)
print(a%b**2)
# (a%b)= 3, (a%b**2)=15%144= 3 !=0 = True

129746337890625
43248779296875.0
602816.3580246915
7233796.296296298
---------
3
15

In [42]:
# Desafio operaciones anidadas
nombre=input('Ingresa un nombre:')
edad=int(input('Ingresa tu edad:'))
nombre != '****' and edad >10 and edad <18 and len(nombre)>=3 and len(nombre)<10 and edad*4 > 40

True

In [43]:
# Operadores de asignacion
# Suma
a=15
a+=1
a

16

In [44]:
# Resta
a=15
a-=5
a

10

In [45]:
# Multiplicacion
a=15
a*=2
a

30

In [46]:
# Division
a=10
a/=5
a

2.0

In [47]:
# Modulo
a=10
a%=2
a

0

In [48]:
# Exponenciacion
a=5
a**=2
a

25