In [ ]:
#from google.colab import drive
#drive.mount('/drive/')

In [2]:
# 1. Escritura
ruta='C:/Users/Windows/Desktop/Curso Python Coder/Clase 8/'
f=open(ruta+'/archivo.txt','w') # El archivo (nombre) que quieres guardar
f.write('Esto es un texto') # Texto que voy a escribir
f.close() # Cerrar el archivo

In [3]:
nombre='Nicolas'
apellido='Perez'
dni=111111
d={'NOMBRE':nombre, 'APELLIDO':apellido,'DNI':dni}
f=open(ruta+'/otro.txt','w')
f.write(d['NOMBRE']+','+d['APELLIDO']+','+str(d['DNI']))
f.close()

In [15]:
# Desafio generico
lista=[]
for i in range(3):
    var= input(f'Ingresa tu hobbie favorito {i}: ')
    lista.append(var)
texto='\n '.join(lista)
f=open(ruta+'/miHobbiesFavoritos.txt','w')
f.write(texto)
f.close()

Ingresa tu hobbie favorito 0: Jugar
Ingresa tu hobbie favorito 1: Saltar
Ingresa tu hobbie favorito 2: Correr

In [5]:
# Desafio (Otro)
nombre=input('Ingresa el nombre de tu mascota:')
edad=input('Ingresa la edad de tu mascota:')
d={'NOMBRE':nombre, 'EDAD':edad}
ruta='C:/Users/Windows/Desktop/Curso Python Coder/Clase 8/'
f=open(ruta+'/miMascota.txt','w')
f.write(d['NOMBRE']+','+d['EDAD'])
f.close()

Ingresa el nombre de tu mascota:Ringo
Ingresa la edad de tu mascota:10

In [16]:
#2. Lectura
ruta='C:/Users/Windows/Desktop/Curso Python Coder/Clase 8/'
f=open(ruta+'/paraLeer.txt','r',encoding='utf-8')
content=f.read()
print(content)
f.close()

soy el primer renglon
ahora soy el 2do renglon
no sé ni que soy
acá hay otro renglon
soy el 5

In [17]:
ruta='C:/Users/Windows/Desktop/Curso Python Coder/Clase 8/'
f=open(ruta+'/paraLeer.txt','r',encoding='utf-8')
print(f.readline())
f.close()

soy el primer renglon

In [20]:
ruta='C:/Users/Windows/Desktop/Curso Python Coder/Clase 8/'
f=open(ruta+'/paraLeer.txt','r',encoding='utf-8')
for line in f.readlines():
    print(line)
f.close()

soy el primer renglon

ahora soy el 2do renglon

no sé ni que soy

acá hay otro renglon

soy el 5

In [21]:
#3. archivos json
# Escritura
import json
data={}
data['clients']=[]
data['clients'].append({
    'first_name':'Sigrid',
    'last_name':'Marnock',
    'age':22, 'amount':7.17
})
data['clients'].append({
    'first_name':'Jose',
    'last_name':'Hinners',
    'age':31, 'amount':[1.90,5.50]
})
data['clients'].append({
    'first_name':'Theodoric',
    'last_name':'Rivers',
    'age':36, 'amount':1.11
})
with open(ruta+'/primerJson.json','w') as file:
    json.dump(data, file,indent=4)

In [22]:
# Lectura
with open(ruta+'/primerJson.json') as file:
    dataLectura=json.load(file)
    for client in dataLectura['clients']:
        print('First name', client['first_name'])
        print('Last name:', client['last_name'])
        print('Age:', client['age'])
        print('Amount:',client['amount'])
        print('')

First name Sigrid
Last name: Marnock
Age: 22
Amount: 7.17

First name Jose
Last name: Hinners
Age: 31
Amount: [1.9, 5.5]

First name Theodoric
Last name: Rivers
Age: 36
Amount: 1.11

In [23]:
dataLectura

{'clients': [{'first_name': 'Sigrid',
   'last_name': 'Marnock',
   'age': 22,
   'amount': 7.17},
  {'first_name': 'Jose',
   'last_name': 'Hinners',
   'age': 31,
   'amount': [1.9, 5.5]},
  {'first_name': 'Theodoric',
   'last_name': 'Rivers',
   'age': 36,
   'amount': 1.11}]}

In [23]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 34.4 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-win_amd64.whl (14.6 MB)
     --------------------------------------- 14.6/14.6 MB 28.5 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.5-py2.py3-none-any.whl (500 kB)
     ------------------------------------- 500.7/500.7 kB 32.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1 pytz-2022.5

  WARNING: The script f2py.exe is installed in 'C:\Users\Windows\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.23.4)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
#Con esto daremos permisos para acceder al Drive, es importante colocar el codigo de verificacion correspondiente 
#from google.colab import drive
#import pandas as pd  #Importamos pandas para la lectura de datos

In [24]:
#from google.colab import drive
import pandas as pd 
import numpy as np 
variableTurnos=pd.read_csv(ruta+'/dataset_turnos_detalle.csv')
variableTurnos.head()

,genero,sede,servicio,fecha_cita
0,MASCULINO,Centro Islámico,Adultos Mayores de 80 años,01MAR2021:11:15:00
1,MASCULINO,Club Ferro,Adultos Mayores de 80 años,02MAR2021:09:00:00
2,FEMENINO,La Rural,Adultos Mayores de 80 años,01MAR2021:13:30:00
3,MASCULINO,Centro de día Parque Chacabuco,Adultos Mayores de 80 años,25FEB2021:13:00:00
4,FEMENINO,Centro C. Recoleta,Adultos Mayores de 80 años,01MAR2021:13:30:00

In [26]:
variableTurnos.head(3)

      genero             sede                    servicio          fecha_cita
0  MASCULINO  Centro Islámico  Adultos Mayores de 80 años  01MAR2021:11:15:00
1  MASCULINO       Club Ferro  Adultos Mayores de 80 años  02MAR2021:09:00:00
2   FEMENINO         La Rural  Adultos Mayores de 80 años  01MAR2021:13:30:00

In [27]:
variableTurnos.tail()

,genero,sede,servicio,fecha_cita
1925040,FEMENINO,Casa del Historiador,Adultos Mayores de 80 años,23FEB2021:15:45:00
1925041,MASCULINO,La Rural,Adultos Mayores de 80 años,02MAR2021:15:00:00
1925042,FEMENINO,Club Glorias Argentinas,Adultos Mayores de 80 años,25FEB2021:13:30:00
1925043,MASCULINO,Centro de Dia N9 y 13,Adultos Mayores de 80 años,25FEB2021:08:15:00
1925044,FEMENINO,Club San Lorenzo,Adultos Mayores de 80 años,26FEB2021:11:30:00

In [28]:
variableTurnos.sample(3)

,genero,sede,servicio,fecha_cita
1342360,FEMENINO,Centro Islámico,Adultos Mayores de 18 años,17JUN2021:12:15:00
144913,FEMENINO,Movistar Arena,Personal de Salud,18MAR2021:12:30:00
1134830,FEMENINO,Corralón Floresta,Docentes y No Docentes,08JUN2021:08:45:00

In [29]:
variableTurnos['sede'].value_counts()[0:5]

Club San Lorenzo     264616
La Rural             215748
Estadio Luna Park    196126
Parque Roca          181980
Club River Plate     142751
Name: sede, dtype: int64

In [30]:
variableTurnos.describe()

,genero,sede,servicio,fecha_cita
count,1925045,1925045,1925045,1925045
unique,3,50,16,5698
top,FEMENINO,Club San Lorenzo,Adultos Mayores de 18 años,28JUN2021:10:00:00
freq,1127425,264616,608162,1201

In [31]:
variableTurnos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925045 entries, 0 to 1925044
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   genero      object
 1   sede        object
 2   servicio    object
 3   fecha_cita  object
dtypes: object(4)
memory usage: 58.7+ MB

In [32]:
variableTurnos.dtypes

genero        object
sede          object
servicio      object
fecha_cita    object
dtype: object

In [33]:
variableTurnos.isnull().sum()

genero        0
sede          0
servicio      0
fecha_cita    0
dtype: int64

In [34]:
variableTurnos.columns

Index(['genero', 'sede', 'servicio', 'fecha_cita'], dtype='object')

In [35]:
variableTurnos.shape

(1925045, 4)

In [36]:
variableTurnos['genero'].unique()

array(['MASCULINO', 'FEMENINO', 'OTROS'], dtype=object)

In [37]:
# Filtros
variableTurnos.loc[variableTurnos['genero']=='MASCULINO',['sede','servicio']]

                                   sede                    servicio
0                       Centro Islámico  Adultos Mayores de 80 años
1                            Club Ferro  Adultos Mayores de 80 años
3        Centro de día Parque Chacabuco  Adultos Mayores de 80 años
5                    Centro C. Recoleta  Adultos Mayores de 80 años
10              Centro Cultural El Adan  Adultos Mayores de 80 años
...                                 ...                         ...
1925034             Club Comunicaciones  Adultos Mayores de 80 años
1925036         Centro Cultural El Adan  Adultos Mayores de 80 años
1925038                  Usina del Arte  Adultos Mayores de 80 años
1925041                        La Rural  Adultos Mayores de 80 años
1925043           Centro de Dia N9 y 13  Adultos Mayores de 80 años

[789670 rows x 2 columns]

In [40]:
variableTurnos[variableTurnos['genero']=='MASCULINO'][['sede','servicio']]

                                   sede                    servicio
0                       Centro Islámico  Adultos Mayores de 80 años
1                            Club Ferro  Adultos Mayores de 80 años
3        Centro de día Parque Chacabuco  Adultos Mayores de 80 años
5                    Centro C. Recoleta  Adultos Mayores de 80 años
10              Centro Cultural El Adan  Adultos Mayores de 80 años
...                                 ...                         ...
1925034             Club Comunicaciones  Adultos Mayores de 80 años
1925036         Centro Cultural El Adan  Adultos Mayores de 80 años
1925038                  Usina del Arte  Adultos Mayores de 80 años
1925041                        La Rural  Adultos Mayores de 80 años
1925043           Centro de Dia N9 y 13  Adultos Mayores de 80 años

[789670 rows x 2 columns]

In [41]:
# Subset
variableTurnos[['genero','sede']]

            genero                            sede
0        MASCULINO                 Centro Islámico
1        MASCULINO                      Club Ferro
2         FEMENINO                        La Rural
3        MASCULINO  Centro de día Parque Chacabuco
4         FEMENINO              Centro C. Recoleta
...            ...                             ...
1925040   FEMENINO            Casa del Historiador
1925041  MASCULINO                        La Rural
1925042   FEMENINO         Club Glorias Argentinas
1925043  MASCULINO           Centro de Dia N9 y 13
1925044   FEMENINO                Club San Lorenzo

[1925045 rows x 2 columns]

In [42]:
variableTurnos[(variableTurnos['genero']=='MASCULINO') & (variableTurnos['servicio']=='Adultos Mayores de 80 años')]

,genero,sede,servicio,fecha_cita
0,MASCULINO,Centro Islámico,Adultos Mayores de 80 años,01MAR2021:11:15:00
1,MASCULINO,Club Ferro,Adultos Mayores de 80 años,02MAR2021:09:00:00
3,MASCULINO,Centro de día Parque Chacabuco,Adultos Mayores de 80 años,25FEB2021:13:00:00
5,MASCULINO,Centro C. Recoleta,Adultos Mayores de 80 años,01MAR2021:09:30:00
10,MASCULINO,Centro Cultural El Adan,Adultos Mayores de 80 años,24FEB2021:14:15:00
...,...,...,...,...
1925034,MASCULINO,Club Comunicaciones,Adultos Mayores de 80 años,01MAR2021:09:00:00
1925036,MASCULINO,Centro Cultural El Adan,Adultos Mayores de 80 años,25FEB2021:15:30:00
1925038,MASCULINO,Usina del Arte,Adultos Mayores de 80 años,24FEB2021:12:15:00
1925041,MASCULINO,La Rural,Adultos Mayores de 80 años,02MAR2021:15:00:00
1925043,MASCULINO,Centro de Dia N9 y 13,Adultos Mayores de 80 años,25FEB2021:08:15:00