# Listas 

Coleccion de datos que puede ser de cualquier tipo con indice

In [1]:
# Homogeneas
l=[1,2,3,4]
type(l)

list

In [2]:
l1=['a','b','c','d']
print(l1)

['a', 'b', 'c', 'd']

In [3]:
l2=['David','Juan','Pedro','Tu']
print(l2)

['David', 'Juan', 'Pedro', 'Tu']

In [4]:
# Heterogeneas
mix=[1,True, "David",4.5]
print(mix)

[1, True, 'David', 4.5]

In [6]:
# Sublistas
mat =[[1,2],[2,3],[3,4]]
print(mat,type(mat))

[[1, 2], [2, 3], [3, 4]] <class 'list'>

In [7]:
#Accediendo a los elementos de la lista
mix[0]

1

In [8]:
mat[0]

[1, 2]

In [9]:
mix[-1]

4.5

In [10]:
print(mix)
mix[0:2]

[1, True, 'David', 4.5]

[1, True]

In [12]:
mix[1:]

[True, 'David', 4.5]

In [13]:
mix[::2]

[1, 'David']

In [14]:
mix[::-1] # Reversed

[4.5, 'David', True, 1]

In [16]:
# Operaciones
z=list((2,3,4))
z

[2, 3, 4]

In [17]:
z*3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [18]:
#concatenacion
a =[1,2,3]+ [True, False, "David"]
a

[1, 2, 3, True, False, 'David']

In [19]:
var=list("Hola como estas")
print(var)

['H', 'o', 'l', 'a', ' ', 'c', 'o', 'm', 'o', ' ', 'e', 's', 't', 'a', 's']

In [23]:
num=[1,2,3,4]
o, *otro=num 
print(o)
print(otro)

1
[2, 3, 4]

In [30]:
# Metodos
num=[1,2,3,4]
print(num)
num.append(True)
print(num)

[1, 2, 3, 4]
[1, 2, 3, 4, True]

In [31]:
num.extend([1,2,3,4])
num

[1, 2, 3, 4, True, 1, 2, 3, 4]

In [32]:
num.insert(2,'Simulacion')
num

[1, 2, 'Simulacion', 3, 4, True, 1, 2, 3, 4]

In [33]:
num.remove("Simulacion")
print(num)

[1, 2, 3, 4, True, 1, 2, 3, 4]

In [37]:
vart=['a','b','Ct','1','2','z']
vart.sort()
print(vart)

['1', '2', 'Ct', 'a', 'b', 'z']

In [42]:
x=[1,2,3,4]
x.pop(1) # Borras el indice 1
print(x)

[1, 3, 4]

In [38]:
# Funciones built-int 
x=[0,2,3,4]
len(x)

4

In [39]:
min(x)

0

In [40]:
max(x)

4

In [41]:
sum(x)

9

# Tuplas

Coleccion de objetos inmutables y heterogeneos

In [43]:
sep=(1,True,False,3.4)
print(type(sep),sep)

<class 'tuple'> (1, True, False, 3.4)

In [45]:
t= tuple((1,2,3))
print(t,type(t))

(1, 2, 3) <class 'tuple'>

In [46]:
ciudad= "Bs",
print(ciudad,type(ciudad))

('Bs',) <class 'tuple'>

In [47]:
ciudad= 'Pedro','Carlos',"Andres"
print(ciudad, type(ciudad))

('Pedro', 'Carlos', 'Andres') <class 'tuple'>

In [48]:
lista=[1,2,3,4]
tuple1= (1,2,3,4)
lista.append(5)
print(lista)

[1, 2, 3, 4, 5]

In [ ]:
tuple.append(5)# esto no existe

In [49]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [51]:
# acceder a los elementos
ciudad= 'Pedro','Carlos',"Andres"
ciudad[0]

'Pedro'

In [53]:
ciudad[-1]

'Andres'

In [56]:
d=(ciudad+(1,2,3))
print(d,type(d))

('Pedro', 'Carlos', 'Andres', 1, 2, 3) <class 'tuple'>

In [57]:
# nesting
nest=(ciudad, (1,2,3))
nest

(('Pedro', 'Carlos', 'Andres'), (1, 2, 3))

In [60]:
# Repticion
rep=("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [62]:
# Slicing
num=(1,2,3,4)
num[1:]

(2, 3, 4)

In [63]:
#unpacking
tuple("David")

('D', 'a', 'v', 'i', 'd')

In [64]:
a,b,c,d= tuple((1,2,3,4))
print(a,d)

1 4

In [65]:
a,*b, c=tuple((1,2,3,4))
print(a,b,c)

1 [2, 3] 4

In [66]:
# Delete
tuple1=(1,2,3,4)
print(tuple1)
del tuple1

(1, 2, 3, 4)

In [67]:
# Funciones built int
num=(3,5,1,2,3,6,7)
num.count(3)

2

In [68]:
sum(num)

27

In [69]:
len(num)

7

In [70]:
max(num)

7

In [71]:
# Convirtiendo listas a tuplas
lst=['David',True, False,2]
tpl=tuple(lst)
print(lst)
print(tpl)

['David', True, False, 2]
('David', True, False, 2)

In [73]:
# nesting the tuplas en una lista
lst=[(1,2,3),("David",True,False)]
print(lst)
lst.append(('Tu','Yo','El'))
print(lst)

[(1, 2, 3), ('David', True, False)]
[(1, 2, 3), ('David', True, False), ('Tu', 'Yo', 'El')]

In [74]:
lst.remove((1,2,3))
lst

[('David', True, False), ('Tu', 'Yo', 'El')]

In [77]:
# nesting listas dentro de tuplas
tpl=([1,2,3],['David','Pedro',True])
print(tpl)
tpl[0].append('Tuy')
print(tpl)
tpl[1].remove('David')
print(tpl)

([1, 2, 3], ['David', 'Pedro', True])
([1, 2, 3, 'Tuy'], ['David', 'Pedro', True])
([1, 2, 3, 'Tuy'], ['Pedro', True])