# Funciones

- Son un conjunto de instrucciones para una tarea dada

- Nos permiten fragmentar nuesto programa en componentes modulares

- Permiten hacer los programas mas organizados

- Evitan la repeticion

Hay dos grandes grupos

1. Built-in function: son creadas por Python
2. User-defined: las que creamos nosotros con algÃºn proposito

**Algunas funciones built-in**
```python
pow(); abs(); print(); round(); len();
range(); next(); max(); slice(); sorted()

```

**Como crear funciones de usuario predeterminadas**
1. Crear la funcion
2. Llamarla para usarla

```python
def mi_funcion(parametros):
    tareas
    return expresion
```

In [9]:
# Built-in functions
# 1 abs
print(abs(-10.75))
# 2 len
print(len([1,2,3,4]))
# 3 all
print(all([True,True,True]))
# 4 sum
print(sum([1,2,4,5]))
# 5 max
print(max(7,20,3))
# 6 min
print(min(-2,5,6))

10.75
4
True
12
20
-2

In [10]:
# 7 iter
lista=iter(['David','Pedro','Juan'])
# 8 next
x=next(lista)
print(x)

David

In [11]:
x=next(lista)
print(x)

Pedro

In [13]:
# 9 pow
print(pow(2,3))
# 10 range
x= range(6)
for n in x:
    print(n)

8
0
1
2
3
4
5

In [14]:
for n in range(-2,6,2):
    print(n)

-2
0
2
4

In [15]:
# 11 round
print(round(5.6777,2))

5.68

In [18]:
# 12 sorted
x=['a','b','A','Z']
sorted(x,reverse=True)

['b', 'a', 'Z', 'A']

In [19]:
x=[1,2,5,7,8]
sorted(x,reverse=False)

[1, 2, 5, 7, 8]

In [22]:
# 13 slice 
a=('T','U','E','R','E','S')
i=slice(3)
a[i] # corta hasta el indice

('T', 'U', 'E')

Ahora las que se definen por el usuario

In [23]:
# 1 sin argumentos
def mu_funcion():
    print("Hola a ti")
mu_funcion()

Hola a ti

In [24]:
def hola():
    nombre=str(input('Ingresa tu nombre:'))
    print('Hola eres '+ str(nombre))

In [25]:
hola()

Hola eresDavid

In [26]:
# 2 Con Parametros
def ft_a_cm(ft):
    cm= ft*30.40 
    return cm

In [27]:
ft_a_cm(2)

60.8

In [28]:
# 3 Multiples argumentos
def suma(x,y):
    suma= x+y 
    print(suma)
suma(x=2,y=30)

32

In [29]:
# 4 Con condicionales
def absoluto(x):
    if x>=0:
        return x
    else:
        return -x 
absoluto(-10)

10

In [30]:
# 5 Recursividad
def factorial(x):
    if x==0:
        return 1
    else:
        return x* factorial(x-1)
factorial(3)

6

In [33]:
# 6 Argumentos defecto
def hola(nombre='Pablo'):
    print('Hola ', nombre)
hola()

Hola  Pablo

In [34]:
hola('David')

Hola  David

In [35]:
# 7. Scope: local vs global 
def funcion():
    z=7
    print(z)
funcion()

7

In [36]:
z# no puedes acceder porque es variablelocal

NameError: name 'z' is not defined

In [37]:
z=7 # ahora es variable global
def funcion():
    print(z)
funcion()

7

In [38]:
z # puedes acceder

7

In [39]:
# un error comun!!!
z= 7 
def funcion():
    z=z+1
    print(z)
funcion() ### OJO!!!

UnboundLocalError: local variable 'z' referenced before assignment

In [42]:
# Como lo puedes resolver
z= 7 
def funcion():
    global z
    z=z+1
    print(z)
funcion()
z

8

8

In [46]:
# 8. Kargs
def hola(*nombres):
    print('Hola '+ nombres[0]+' '+ nombres[1])
hola('David','Pedro')

Hola David Pedro

In [48]:
# 9. Funciones multiples
pi= 3.14
def areacirculo(radio):
    return pi*radio**2
def areaesfera(radio):
    return 4*pi*radio**2
def main():
    print('Area circulo con radio 15: ', areacirculo(15))
    print('Area esfera con radio 15: ', areaesfera(15))
main()

Area circulo con radio 15:  706.5
Area esfera con radio 15:  2826.0

# Ejemplo de banco

In [49]:
def bank_system_process(customer_info, account_balance, transaction_type, transaction_amount):
    """
    Esta funciÃ³n procesa una transacciÃ³n bancaria para un cliente segÃºn el saldo de su cuenta y el tipo de transacciÃ³n.

     Argumentos:
     customer_info (dict): un diccionario que contiene informaciÃ³n del cliente, como el nombre, la direcciÃ³n y el nÃºmero de cuenta.
     account_balance (float): El saldo actual de la cuenta del cliente.
     transaction_type (str): el tipo de transacciÃ³n que se estÃ¡ realizando (por ejemplo, depÃ³sito o retiro).
     cantidad_transacciÃ³n (flotante): La cantidad de dinero que se deposita o retira.

     Devueleve:
     float: El nuevo saldo de la cuenta del cliente despuÃ©s de que se haya procesado la transacciÃ³n.
    """

    # Verificar si la transaccion es valida 
    if transaction_type not in ["deposit", "withdrawal"]:
        print("Tipo de transaccion invalida")
        return account_balance

    # Verificar si el monto es correcto 
    if transaction_amount <= 0:
        print("Valor de transaccion invalido ")
        return account_balance

    # Provesar la transaccion dependiendo del tipo 
    if transaction_type == "deposit":
        new_balance = account_balance + transaction_amount
    else:
        if transaction_amount > account_balance:
            print("Fondos insuficientes")
            return account_balance
        else:
            new_balance = account_balance - transaction_amount

    # Devolver el balance
    return new_balance

In [62]:
import pandas as pd
df= pd.DataFrame(columns=['name','address','account_number'])
df['name']=['David BU','Juan PE','Andres UY']
df['address']=['123 Main St','831 Concept','734 Youldt']
df['account_number']=["78978","34567","12567"]
df['balances']=[1000,1200,3000]
df

        name      address account_number  balances
0   David BU  123 Main St          78978      1000
1    Juan PE  831 Concept          34567      1200
2  Andres UY   734 Youldt          12567      3000

In [70]:
customer_info=df.loc[df["account_number"]=="78978"].to_dict(orient='index')[0]
print(customer_info)
# Definimos el balance dle cliente
account_balance = df.loc[df["account_number"]=="78978",'balances'].values[0]
# Depositar en la cuenta
transaction_type = "deposit"
transaction_amount = 500.0

new_balance = bank_system_process(customer_info, account_balance, transaction_type, transaction_amount)
print("Nuevo balance:", new_balance)
# Modifiquemos la tabla
df.loc[df["account_number"]=="78978",'balances']=new_balance

# Retirar dinero
transaction_type = "withdrawal"
transaction_amount = 900.0

new_balance = bank_system_process(customer_info, new_balance, transaction_type, transaction_amount)
print("Nuevo balance:", new_balance)
df.loc[df["account_number"]=="78978",'balances']=new_balance

{'name': 'David BU', 'address': '123 Main St', 'account_number': '78978', 'balances': 1000}
Nuevo balance: 1500.0
Nuevo balance: 600.0

In [71]:
df

        name      address account_number  balances
0   David BU  123 Main St          78978       600
1    Juan PE  831 Concept          34567      1200
2  Andres UY   734 Youldt          12567      3000